<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="mt-5" action="/logout" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend style="text-align: center; font-size: 40px;">Login Out</legend>

                <div class="form-group mt-5">
                    <h1>Do you want to logout from this account?</h1>
                </div>

                <div class="form-group mt-5">
                    <a href="/"><button id="logoutNoButton" name="logoutNoButton" type="button" class="btn btn-success" style="width: 130px;">No</button></a>
                    <button  id="logoutYesButton" name="logoutYesButton" type="submit" class="btn btn-primary ml-3" style="width: 130px;">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>